
.jv-accordion .jv-accordion-item {
    background-color: #E0F0FF;
    color: #000055;
    cursor: pointer;
    padding: 0.4rem 1.5rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #eee;
}

.jv-accordion .active, .jv-accordion .jv-accordion-item:hover {
    background-color: #000055;
    color: #F0F0F0;
}

.jv-accordion .jv-accordion-item:after {
    content: '\002B';
    font-weight: bold;
    font-size: 133%;
    float: right;
    margin-left: 5px;
    line-height: 90%;
}

.jv-accordion .active:after {
    content: "\2212";
}


.jv-accordion .jv-panel {
    padding: 0 1.25rem;
    margin: 0.5rem 0 0.5rem 1rem;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
