{namespace jve=JVelletti\JvContentblocks\ViewHelpers}
{namespace cb=TYPO3\CMS\ContentBlocks\ViewHelpers}

<f:asset.css identifier="content-block-css-jvelletti-fireworks" href="{cb:assetPath()}/Frontend.css" />
<f:asset.script identifier="content-block-js-jvelletti-fireworks" src="{cb:assetPath()}/Frontend.js" />

<div class="jve_fireworks-videoContainer">
    <canvas class="jve_fireworks-canvas"></canvas>
    <div class="jve_fireworks-year">{data.header}</div>
    <div class="jve_fireworks-greeting">
       <f:format.html>{data.bodytext}</f:format.html>
    </div>
    <div class="jve_fireworks-flash"></div>
</div>