
.jv-accordion .jv-accordion-group ,
.jv-accordion .jv-accordion-item
{
    cursor: pointer;
    padding: 0.4rem 1.5rem;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border: none;
}

.jv-accordion .jv-accordion-group.default ,
.jv-accordion .jv-accordion-item.default
{
    background-color: #F5F5F5;
    color: #777;
}

.jv-accordion .active.default,
.jv-accordion .jv-accordion-group.default:hover ,
.jv-accordion .jv-accordion-item.default:hover
{
    background-color: #b2b2b2;
    color: #F0F0F0;
}

.jv-accordion .jv-accordion-group:after ,
.jv-accordion .jv-accordion-item:after
{
    content: '\002B';
    font-weight: bold;
    font-size: 133%;
    float: right;
    margin-left: 5px;
    line-height: 90%;
}

.jv-accordion .active:after
{
    content: "\2212";
}

.jv-accordion .jv-panel-group,
.jv-accordion .jv-panel {
    padding: 0 1.25rem;
    margin: 0.5rem 0 1.5rem 1rem;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
